<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    <title>Графики</title>
</head>
<body>
    <div class="container">
        <canvas id="myChart1"></canvas>
    </div>

    <script>
        var ctx = document.getElementById('myChart1').getContext('2d');
        var myChart1 = new Chart(ctx, {
            type: 'bar',// bar, horizontalBar, pie, line, doughnut, radar, polarArea

            data: {
                labels: {{labels1|safe}},
                datasets: [{
                    data: {{data1|safe}},
                    backgroundColor: {{colors1|safe}}
                }]
            },
            options: {
                title: {
                    display: true,
                    text: '1',
                },


            }


        });
       </script>
    <div class="container">
        <canvas id="myChart2"></canvas>
    </div>

    <script>
        var ctx = document.getElementById('myChart2').getContext('2d');
        var myChart2 = new Chart(ctx, {
            type: 'bar',// bar, horizontalBar, pie, line, doughnut, radar, polarArea

            data: {
                labels: {{labels2|safe}},
                datasets: [{
                    data: {{data2|safe}},
                    backgroundColor: {{colors2|safe}}
                }]
            },
            options: {
                title: {
                    display: true,
                    text: '2',
                },


            }


        });
    </script>
</body>
</html>