<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Список тиражей</title>
</head>
<body>
<table border="1">
    <tr>
        <td>НОМЕР ТИРАЖА</td><td bgcolor="red"></td><td bgcolor="red"></td><td bgcolor="red"></td><td bgcolor="red"></td>
        <td bgcolor="green"></td><td bgcolor="green"></td><td bgcolor="green"></td><td bgcolor="green"></td>
    </tr>
        {% for draw in list_draws %}
        <tr>
        <td>{{draw.number}}</td>
            <td>{{draw.n1}}</td>
            <td>{{draw.n2}}</td>
            <td>{{draw.n3}}</td>
            <td>{{draw.n4}}</td>
            <td>{{draw.n5}}</td>
            <td>{{draw.n6}}</td>
            <td>{{draw.n7}}</td>
            <td>{{draw.n8}}</td>
        </tr>
        {% endfor %}
</table>
</body>
</html>