<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Общая статистика</title>
</head>
<body>
<table border="1">
    <tr>
        <td>Тираж</td>
        {% for draw in latest %}
        <td>{{draw.number}}</td>
        {% endfor %}
        <td>Всего</td>
    </tr>
{% for key, value in list_numbers1.items %}
     <tr><td>{{key}}</td>
         {% for draw in latest %}
         {% if key == draw.n1 or key == draw.n2 or key == draw.n3 or key == draw.n4 %}
         <td bgcolor='red'></td>
         {% else %}
         <td></td>
         {% endif %}
         {% endfor %}
         <td>{{value}}</td></tr>
{% endfor %}
 {% for key, value in list_numbers2.items %}
     <tr><td>{{key}}</td>
         {% for draw in latest %}
         {% if key == draw.n5 or key == draw.n6 or key == draw.n7 or key == draw.n8 %}
         <td bgcolor='green'></td>
         {% else %}
         <td></td>
         {% endif %}
         {% endfor %}

         <td>{{value}}</td></tr>
{% endfor %}

</table>
</body>
</html>